---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import {SITE_TITLE, SITE_DESCRIPTION} from '../../consts';
import {getCollection} from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
</head>
<body class="flex h-dvh flex-col bg-pogorskii-black text-pogorskii-white">
<Header/>
<main class="container grow px-3 lg:px-8 pt-8 pb-12 flex flex-col">
    <section class="mx-auto">
        <ul>
            {
                posts.map((post) => (
                        <li class="bg-pogorskii-yellow rounded-lg">
                            <a href={`/blog/${post.id}/`}>
                                <div class="relative">
                                    <div class="rounded-lg overflow-hidden">
                                        <img width={720} height={360} src={post.data.heroImage}
                                             alt={`Blog post "${post.data.title}" cover image`}/>
                                    </div>
                                    <div class="absolute bottom-2 left-2 z-20 flex flex-wrap gap-2">
                                        {post.data.tags?.map(t => (
                                                <div class="bg-pogorskii-violet text-pogorskii-white text-xs flex leading-3 items-center font-semibold px-1.5 py-1 rounded-lg">
                                                    <span class="">{t}</span>
                                                </div>
                                        ))}
                                    </div>
                                </div>
                                <div class="px-4 pt-2 pb-4">
                                    <h4 class="text-2xl font-bold text-pogorskii-black mb-1">{post.data.title}</h4>
                                    <p class="date text-pogorskii-black text-sm">
                                        <FormattedDate date={post.data.pubDate}/>
                                    </p>
                                </div>
                            </a>
                        </li>
                ))
            }
        </ul>
    </section>
</main>
<Footer/>
</body>
</html>
<style>
    li:first-child {
        @apply w-full;
    }
</style>
